@media screen and (min-width: 768px) {
  body {
    display: block;
  }
  .full {
    //min-height: 100vh;
    @include viewport-unit(min-height, 100vh);
    position: relative;
  }
  #tag.show {
    opacity: 1;
  }
  header {
    overflow: hidden; //IE fix for expanded width
    background: url(http://res.cloudinary.com/henson/image/upload/v1453756425/loazgc001504b_xcz84i.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
  }
  #about {
    background: url(http://res.cloudinary.com/henson/image/upload/v1453757212/loutgs001053_iyvovm.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
  }
  nav {
    &.top {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      li {
        border: 1px solid white;
        margin: 10px;
        &:hover {
          background-color: rgba(64, 66, 87, 0.9);
        }
        a {
          color: white;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        }
      }
    }
    #mobileLink {
      display: none;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    li {
      margin: 0 -2px;
      width: 150px;
      font-size: 18px;
      text-align: center;
      display: inline-block;
      border: 1px solid transparent;
      + li {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
      }
      a {
        display: block;
        padding: 10px;
      }
      &:hover {
        background-color: rgba(235, 242, 250, 0.1);
      }
    }
  }
  .column {
    width: 50%;
    display: inline-block;
    padding: 0 3% 30px 3%;
    margin: 0 -2px;
    > a {
      display: inline-block;
      vertical-align: top;
    }
  }
  .well {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 5% 0 38%;
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: $color3; //TODO change this
  }
  .field-container {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: 0 -2px;
    &.rfc {
      width: 60%;
      text-align: right;
    }
  }
  :required:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  input {
    display: block;
    margin-bottom: 30px;
    width: 95%;
  }
  textarea {
    width: 100%;
    //min-height: 45vh;
    @include viewport-unit(min-height, 45vh);
    resize: none;
  }
}
