@media screen and (min-width: 768px) {
  body {
    display: block;
  }
  .full {
    @include viewport-unit(min-height, 100vh);
    position: relative;
  }
  #tag.show {
    opacity: 1;
  }
  header {
    overflow: hidden; //IE fix for expanded width
    background: url(https://res.cloudinary.com/henson/image/upload/q_auto,f_auto/v1496551372/snowyMtn_xxzlfa.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
  }
  #about {
    background: url(https://res.cloudinary.com/henson/image/upload/q_auto,f_auto/v1453757212/loutgs001053_iyvovm.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
  }
  nav {
    &.top {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      border: none;
      li {
        border: 1px solid transparent;
        margin: 10px;
        background-color: $light;
        &:hover {
          background-color: $light1;
        }
        a {
          text-shadow: 0 1px rgba(0, 0, 0, 0.5);
        }
      }
    }
    #mobileLink {
      display: none;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    li {
      margin: 0 -2px;
      width: 150px;
      font-size: 18px;
      text-align: center;
      display: inline-block;
      border: 1px solid transparent;
      + li {
        border-left: 1px solid $dark;
      }
      a {
        display: block;
        padding: 10px;
      }
      &:hover {
        background-color: $light1;
        // background-color: rgba(235, 242, 250, 0.1);
      }
    }
  }
  .column {
    width: 50%;
    display: inline-block;
    padding: 0 3% 30px;
    margin: 0 -2px;
    > a {
      display: inline-block;
      vertical-align: top;
    }
  }
  .well {
    background-color: $light;
    margin: 0 5% 0 38%;
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: $dark;
  }
  .inline-lg {
    display: inline-block;
    margin: 0 -2px;
  }
  .half-lg {
    width: 50%;
  }
  form .half-lg:nth-child(even) {
    padding-right: 5px;
  }
  form .half-lg:nth-child(odd) {
    padding-left: 5px;
  }
  textarea {
    width: 100%;
    //min-height: 45vh;
    @include viewport-unit(min-height, 50vh);
    resize: none;
  }
}
