{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
 "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "no-const-assign": 1,
        "no-fallthrough": 0,
        "no-mixed-spaces-and-tabs": 0,
        "no-this-before-super": 1,
        "constructor-super": 1,
        "func-names": 0,
        "comma-dangle": 0,
        "react/prefer-stateless-function": 0
    }
}
